:root{

  // Grosseur des textes

  --fz-normal: 1rem;

  // Grosseur des titres

  --fz-h1: 2.5rem;
  --fz-h2: 2rem;
  --fz-h3: 1.75rem;
  --fz-h4: 1.5rem;

  // Hauteur de ligne
  --1h-extra-thin: 1;
  --1h-thin: 1.2;
  --1h-normal: 1.5;
  --1h-medium: 1.8;
  --1h-large: 2;
  --1h-extra-large: 2.4;

  //Font family
  --ff-normal: 'Montserrat', sans-serif;
  --ff-titre: 'Sarabun', sans-serif;


}